{% load static %}
<nav>
    <div class="nav__header">
        <div class="nav__logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/3.png' %}" alt="logo" />
                <span></span>
            </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'OurModel' %}">Our model</a></li>
        <li><a href="{% url 'table' %}">Table</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>